extends layout

block books
	- for (var books in entry)
		.row
			.span2.margin
				.img-regulate
					if entry[books].link[0].href
						img(src='#{entry[books].link[0].href}')
					else
						img(src='images/logo-ebooks.png')
			.span6.margin.padding.left-border
				h4
					strong 書名：
					|  #{entry[books].title}
				p
					strong 作者：
					if entry[books].author
						|  #{entry[books].author.name}
					else
						|  Anonymous
				p
					strong 上傳日期：
					|  #{entry[books].updated}
				p
					strong 摘要：
					|  #{entry[books].summary}

				if entry[books].link[2].buy
					a(href= '#{entry[books].link[2].href}').btn.btn-primary.btn-regulate Buy it!!
				else if entry[books].link[2].cbeta
					a(href= '#{entry[books].link[2].href}').btn.btn-primary.btn-regulate EPUB
				else
					a(href= '#{entry[books].link[2].href}').btn.btn-primary.btn-regulate EPUB
					a(href= '#{entry[books].link[3].href}').btn.btn-primary.btn-regulate Kindle
					a(href= '#{entry[books].link[4].href}').btn.btn-primary.btn-regulate PDF

block category
	ul.nav.nav-list.bs-docs-sidenav.affix
		- for (var key in categories)
			li
				p.catalog
					a.category(href='#{categories[key].link[0].href}')
						i= categories[key].title

block menubar
	.navbar
		.navbar-fixed-top
			.navbar-inner
				.container
					button.btn.btn-navbar(type="button",data-toggle="collapse",data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand.margin-top10px(href="/")
						|  EbookStore
					.nav-collapse.collapse
						ul.nav
							li.margin-top15px
								a(href="/previous") 上一頁
							li.margin-top15px
								a(href="/next") 下一頁

